/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/* 1rem = 10px */
html{
  font-size: 62.5%;
}

/* fix for buttons on ios safari mobile */
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* responsive images */
img {
  width: 100%;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
}


header {
  border-bottom: solid 3px #62d4e5;
  /*display: inline-block;*/
}

.hidden {
  display: none;
}



/******************************************
/* LAYOUT
/*******************************************/
h1 {
}
.wrapper {
  display: grid;
  grid-template-columns: 2.669rem 1fr 2.669rem;
  /*grid-template-areas:
    "header header header",
    "main main main",
    "services services services",
    "projects projects projects",
    "blog blog blog";*/
}
header, .main, .services, .projects, .blog {
  width: 100%;
  grid-column: 2 / 3;
}
header {
}
.main {
}
.services {
}
.projects {
}
.blog {
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
