/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/* 1rem = 10px */
html{
  font-size: 62.5%;
}

/* fix for buttons on ios safari mobile */
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* responsive images */
img {
  width: 100%;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
}


header {
  border-bottom: solid 3px #62d4e5;
}

/* hidden elements like services, main-about */
.hidden {
  display: none;
}

/* header nav no bullets */
header li {
  list-style-type: none;
}

/* adjust size of header icons */
.icon {
  font-size: 1.5rem;
}

/******************************************
/* LAYOUT
/*******************************************/

/* need to figure out how to avoid div wrapper for grid*/
.wrapper {
  display: grid;
  grid-template-columns: 2.669rem 1fr 2.669rem;
  /*grid-template-areas:
    "header header header",
    "main main main",
    "services services services",
    "projects projects projects",
    "blog blog blog";*/
}

header, .main, .services, .projects, .blog {
  width: 100%;
  grid-column: 2 / 3;
}

/* flex containers for header */
header, header ul {
  display: flex;
  flex-flow: row wrap;
}

/* adjust layout for icons */
header ul {
  width: 100%;
  justify-content: flex-end;
}

/* set space between icons */
header li:not(:first-child) {
  margin-left: 1rem;
}

header li {
}




.main {
}
.services {
}
.projects {
}
.blog {
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.icon > .label {
  display: none;
}
